@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
  cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.form-input-vax {
  @apply w-full px-5 py-3.5 bg-slate-50 border-none rounded-2xl focus:ring-2 focus:ring-emerald-500 font-bold text-slate-700 transition-all outline-none text-sm;
}
